@charset "utf-8";
/*

*/

/* Grid Styles for Page */
body {
    
    background-color: rgb(102, 140, 210);
    
}

body > index {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header"
                         "news1"
                         "news2"
                         "news3";
    grid-column-gap: 15px;
}

body > header {
    grid-row: 1;
    grid-column: 1/-1;
}

/* TOP Navigation Styles */
nav ul {
    line-height: .5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(63, 63, 63);
}

nav li {
    float: left;  
}

nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
  }

/* Enroll Button */
.rightli {
    background-color: rgb(195, 86, 86);
}

/* Banner Image */
img#bannerimage {
    display: block;
    width: 100%;
    position: relative;
    opacity: 100%;
}

.containter {
    position: relative;
    text-align: center;
}

.centered {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 80px;
    text-align: center;
}

/* NEWS Sections */
h1 {
    background-color: rgb(60, 83, 124);
    padding-left: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-align: justify;
    column-gap: 50px;
    padding-left: 8%;
    padding-bottom: 60px;
}

.grid-item {
    border: 1px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid-item:hover {
    opacity: 70%;
}

.newsimages {
    width: 100%;
}

/* Form Layout Styles */

legend {
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
}

div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

div.formRow > * {
    flex: 1 1 150px;
}

form#enroll {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

form#enroll > fieldset {
    background-color: rgb(177, 200, 244);
    flex: 1 1 300px;
    font-size: 0.85em;
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-width: medium;
}

/* Gallery */

div.gallery {
    margin: 5px;
    border: 1px solid rgb(60, 83, 124);
    float: left;
    width: 300px;
    color: rgb(255, 255, 255);
    background-color: rgb(60, 83, 124);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  
div.gallery:hover {
    border: 1px solid #ffffff;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: justify;
}

div.desc b {
    color: rgb(245, 192, 118);
}

/* Form Button Styles */

.buttons {
    text-align: center;
    width: 100%;
}

input[type='submit'], input[type='reset'] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
    background-color: rgb(245, 192, 118);
    border-radius: 100em;
}

/* About page */
.bottom-page {
    height: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 200px 1fr;

}
.founder-img {
    display: inline-block;
}

.founder-img-box {
    box-shadow: 0px 0px 4px black;
}

.facts {
    background-color: rgb(177, 200, 244);
    border-radius: 2px;
    border-width: 2px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
    box-shadow: 0px 0px 4px black;
}

/* Admin */
.profile {
    vertical-align: top;
    display: inline-block;
    width: 200px;
    margin-top: 50px;
    margin-left: 15px;
    margin-bottom: 70px;
}

.profile-image {
    width: 200px;
    margin-bottom: 5px;
}

.profile-info {
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
}
